<html lang="en">
  <head>
    <style>
      body { margin: 0px; padding: 0px; } .headDiv { width: 100%; height: 40px;
      background: #F9FAFB; text-align: center; font-family: 'Roboto',
      sans-serif; font-size: 1.5em; } p{ font-family: 'Roboto', sans-serif; }
    </style>
  </head>
  <body>
    <p class="headDiv">{{t "email.header.restore_account"}}</p>
    <p>{{t "email.greeting"}}, {{userName}}!</p>
    <p>
       {{t "email.instructions.restore_account"}}:</p>
    <p>
      <a href="{{payload}}">{{t "email.link.restore_account"}}</a>
    </p>
    <p>{{t "email.signature"}}</p>
  </body>
</html>